@model MockCMS.ViewModels.SiteListModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <span> Count: @Model.Sites.Count()</span>
        @foreach (var site in Model.Sites)
        {
            <header> <a href="@Url.Action( "ViewSite", new { id = site.GetId().ToString() } )">@(site.Name) </a></header>
            <a href="@Url.Action("ManageSite", new { id = site.GetId().ToString()})">Manage</a>
        }
    </div>
    <a href="@Url.Action("Create", "MockSite")">Create a new site</a>
</body>
</html>
